.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #f3e9d8;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    margin: 0 20px;
    font-family: serif;
    font-size: 18px;
    color: #4a2c2a;
}

.name {
    font-family: serif;
    color: #4a2c2a;
    font-size: 35x;
}

.about-section {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
}

.about-section h1 {
    font-family: serif;
    color: #4a2c2a;
    font-size: 36px;
    font-weight: bold;
}

.about-text {
    font-family: serif;
    color: #4a2c2a;
    font-size: 20px;
    line-height: 1.7;
    max-width: 850px;
    margin: 0 auto 40px;
}

.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery img {
    width: 45%;
    border-radius: 10px;
    object-fit: cover;
    align-items: center;
}

.layout {
    display: flex;
    margin-top: 20px;
}

.contact-section {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.contact-section h1 {
    font-family: serif;
    color: #4a2c2a;
    font-size: 36px;
    margin-bottom: 10px;
}

.contact-text {
    font-family: serif;
    color: #4a2c2a;
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-box {
    background: #f3e9d8;
    padding: 20px;
    border-radius: 12px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.contact-box p {
    font-family: serif;
    color: #4a2c2a;
    font-size: 25px;
}